body{
    background-color:  #8d2d10 ;
}

#mapid{

    height: 400px;
    width: 60%;
    margin:0 auto;
    position: relative;
    top: 25% ;

}

.titulo{
    width: 30%;
    position: absolute;
    top: 3%;
    left: 40%;
    color: white;
}

.titulo h3{

    float: left;
    font-size: 40px;
    border-bottom: 6px solid #8d2d10 ;
    margin-bottom: 40px;
    padding: 13px 0;

}